{% extends "base1.html" %} {% block head %} 
{{ super() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %} 
{% block content %}
    <br><br>
    <h2>Hello</h2> <h5>I am Rounak.</h5><br>
    At present (26.01.2021) I am in First Year CSE batch. Umm , I guess <br>
    that's enough of an introduction :) <br>
    <br>
    Online classes are a mess and keeping track of all the assignments and tutorial submissions are tedious too. <br>
    So, while attending classes in the first semester, I faced a lot of trouble in the tutorial submissions because it was <br>
    difficult to keep track of all the assignments. So I created this application to help me in keeping track of my submissions <br>
    apart from gaining knowledge about web development.
    <br>
    <br>
    <br>
    <h3>Getting Started</h3>
    To use this application, you need to sign in first. You can use any unique email id and password ...
    <br>If something goes wrong, that means you probably have provided some invalid email id or so.<br>
    <br>After logging in, you will be redirected to your profile page where you will be able to see<br>
    your name , number of pending assignments , total number of assignments , etc.<br>
    Now go to 'Create' tab in the navigation bar , and fill in the details to create a new assignment. After <br>
    creating a new assignment, you will be redirected to the 'Show All' tab where you can see your newly created assignment.<br>
    If you intend to delete the assignment, you can press the delete option over there, or you can also edit it. That's pretty much <br>
    the whole thing. But, this is not the end. There are couple of things that I had planned on doing but I am lazy.
    <br><br><br>
    <h3>Next what?</h3>
    <h5>If you visit the Blog page, you will see it blank since I have not updated anything and frankly,I don't feel like updating it.<br>
    But if I do someday, then I will be posting about how I made this application.<br>
    Also I plan on adding a feature where you don't occassionallly need to create assignments. Assignments will be created <br>
    automatically as per user.</h6>
<br><br><br><br><br>
    <h4>You can provide feedback by connecting with me thru discord (Raks@8183) and I will be happy to hear you all out.
    </h4>



{% endblock %}
